@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .editor-content h1 {
    @apply text-3xl font-bold;
  }
  .editor-content h2 {
    @apply text-2xl font-bold;
  }
  .editor-content h3 {
    @apply text-xl font-bold;
  }
  
  /* For the display area */
  .prose-preview h1 {
    @apply text-3xl font-bold;
  }
  .prose-preview h2 {
    @apply text-2xl font-bold;
  }
  .prose-preview h3 {
    @apply text-xl font-bold;
  }


  /* List styles for editor content */
  .editor-content ul,
  .editor-content ol {
    @apply pl-8 my-4;
  }

  .editor-content ul {
    @apply list-disc;
  }

  .editor-content ol {
    @apply list-decimal;
  }

  .editor-content li {
    @apply mb-2;
  }

  /* Optional: Add styles for nested lists */
  .editor-content ul ul,
  .editor-content ol ul {
    list-style-type: circle;
  }

  .editor-content ol ol,
  .editor-content ul ol {
    list-style-type: lower-roman;
  }
}


html {
    @apply scroll-smooth;
}

.hero-text {
    @apply text-center font-extrabold text-6xl sm:text-7xl md:text-8xl lg:text-9xl text-white transition-all duration-500 ease-in-out;
}
.h-about-pastor {
    @apply text-4xl sm:text-4xl md:text-6xl lg:text-7xl font-medium text-center sm:text-center md:text-start lg:text-start transition-all duration-500 ease-in-out;
}
.s-highlight {
    @apply absolute bottom-0 left-0 w-0 h-1 bg-white transition-all duration-300 ease-out group-hover:w-full group-active:bg-purple-500;
}
.pop-up-a {
    @apply transform transition duration-300 hover:scale-105 group-active:scale-105 group-active:-translate-y-1 ease-in-out ;
}

.btn-primary {
  @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium text-lg px-5 py-4 me-2 w-5/12 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
}

.btn-secondary {
  @apply bg-gray-800 text-white text-lg px-8 py-3 rounded-full shadow-lg hover:bg-gray-900 hover:shadow-xl transition-all duration-300 ease-in-out focus:outline-none focus:ring-4 focus:ring-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-500
}

.text-shadow {
  text-shadow: -1px 12px 14px rgb(13 7 7 / 90%);
}

#about {
  @apply scroll-smooth
}